
@{
    ViewData["Title"] = "Home Page";
}

<style>

    #launchTable {
        font-size: 14pt;
        text-align: center;
        box-shadow: 5px 5px 20px #808080;
    }

        #launchTable th {
            background-color: blue;
            color: white;
        }
</style>



<body>
    <div class="text-center">
        <h1 class="display-4">SpaceX Launch</h1>
        <p>Learn about each mission SpaceX conducts and get excited about space travel with SpaceX Launch!</p>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-sm" id="launchTable" cellspacing="0">
                <thead>
                    <tr>
                        <th class="th-md" style="text-align: center">Launch Date</th>
                        <th class="th-md" style="text-align: center">Launch Time (CDT/CST)</th>
                        <th class="th-md" style="text-align: center">Rocket Name</th>
                        <th class="th-md" style="text-align: center">Launch Success</th>
                        <th class="th-md" style="text-align: center">Payload Mass (kg)</th>
                        <th class="th-md" style="text-align: center">Payload Rank</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var index = (ViewBag.launchDetails.Count - 1); index >= 0; index--)
                    {
                        <tr>
                            <td>
                                @ViewBag.launchDetails[index].LaunchDate
                            </td>
                            <td>
                                @ViewBag.launchDetails[index].LaunchTime
                            </td>
                            <td>
                                @ViewBag.launchDetails[index].RocketName
                            </td>
                            <td>
                                @ViewBag.launchDetails[index].LaunchStatus
                            </td>
                            <td>
                                @if (ViewBag.launchDetails[index].PayloadMass != 0)
                                    @ViewBag.launchDetails[index].PayloadMass
                            </td>
                            <td id="payLoadRank">
                                @if (ViewBag.launchDetails[index].PayloadRank != 0)
                                    @ViewBag.launchDetails[index].PayloadRank

                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</body>
